<a href="https://colab.research.google.com/github/HajidMunhbat/Hajid/blob/master/Python_beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
print(a)

10

In [ ]:
b = [1,2,3,4,5,6,7,8,9]
c=0 
for i in range(0, len(b)):
  c=c+b[i]
print(c)

45

In [ ]:
def multiplication(number1,number2):
  product = number1 * number2
  if product <= 1000:
    return product
  else:
    return number1 + number2
multiplication(20,30)

600

In [ ]:
previous_num = 0
for i in range(10):
  sum = i + previous_num
  previous_num = i
  print("Current number", i, "Previous number",previous_num, "sum:", sum)
  previous_num = i

Current number 0 Previous number 0 sum: 0
Current number 1 Previous number 1 sum: 1
Current number 2 Previous number 2 sum: 3
Current number 3 Previous number 3 sum: 5
Current number 4 Previous number 4 sum: 7
Current number 5 Previous number 5 sum: 9
Current number 6 Previous number 6 sum: 11
Current number 7 Previous number 7 sum: 13
Current number 8 Previous number 8 sum: 15
Current number 9 Previous number 9 sum: 17

In [ ]:
name = input("Enter your name: ")
num = len(name)
for i in range (num-1, 0):
  print("index[",i,"]", name[i])

Enter your name: hajid

In [ ]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
a_list = ['a', 'b', 'c']
order = [1, 0, 2]

a_list = [a_list[i] for i in order]

print(a_list)

['b', 'a', 'c']

In [ ]:
h_letters = []

for letter in 'human':
  h_letters.append(letter)
  print(h_letters)

#print(h_letters)

['h']
['h', 'u']
['h', 'u', 'm']
['h', 'u', 'm', 'a']
['h', 'u', 'm', 'a', 'n']

In [ ]:
h_letter = [letter for letter in 'human']
print(h_letter)

['h', 'u', 'm', 'a', 'n']

In [ ]:
letters = list(map(lambda x: x, 'human'))
print(letters)

['h', 'u', 'm', 'a', 'n']

In [ ]:
number_list = [x for x in range(20) if x % 2 == 0]
print(number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
obj = ['Even' if i%2==0 else 'Odd' for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [ ]:
a = 'Even'
b = 'Odd'

for i in range(10):
  if i%2==0:
    print(a)
  else:
    print(b)

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [ ]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5 ,6 ,8]]

for i in range(len(matrix[0])):
  transposed_row = []
  #print(i)

  for row in matrix:
    #print(row)
    transposed_row.append(row[i])
    print(transposed_row)
  transposed.append(transposed_row)

#print(transposed)

[1]
[1, 4]
[2]
[2, 5]
[3]
[3, 6]
[4]
[4, 8]

In [ ]:
matrix = [[1,2], [3,4], [5,6], [7,8]]
transpose = [[row[i]for row in matrix] for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [ ]:
a_list = [100, 200, 300, 400]
order = [3, 2, 1, 0]

a_list = [a_list[i] for i in order]
print(a_list)

[400, 300, 200, 100]

In [ ]:
list1 = [100, 200, 300, 400, 500]
list1 = list1[::-1]
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
word = input("name: ")
print(word)

len_word = len(word)
x = list(word)
name_list=[word[i] for i in range(0, len_word, 2)]
print(name_list)

name: hajid
hajid
['h', 'j', 'd']

In [ ]:
word = input('enter name ')

x = list(word)
for i in x[0::2]:
  print(i)

enter name hajid
h
j
d

In [ ]:
name = 'hajid'

#string slicing
print(name[4:])
print(name[2:])
print(name[:1])
print(name[::2])
print(name[::3])

d
jid
h
hjd
hi

In [ ]:
#string slicing
def remove_chars(word, n):
  print('Original string:', word)
  x=word[n:]
  return x

print('Removing characters from a string')
print(remove_chars('pynative', 4))
print(remove_chars('pynative', 2))

Removing characters from a string
Original string: pynative
tive
Original string: pynative
native

In [ ]:
#check if the last and first number of list is same
list1 = [10, 20, 30, 10]
list_len = len(list1)

if list1[0] == list1[3]:
  print('result is True')
else:
  print('result is False')

result is True

In [ ]:
def first_last_same(numberList):
  print('Given list: ', numberList)

  first_num = numberList[0]
  last_num = numberList[-1]

  if first_num == last_num:
    return True
  else:
    return False

numbers_x = [10, 20, 30, 40, 10]
print('result is', first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print('result is', first_last_same(numbers_y))

Given list:  [10, 20, 30, 40, 10]
result is True
Given list:  [75, 65, 35, 75, 30]
result is False

In [ ]:
given_list = [10, 20, 33, 46, 55]

for i in given_list:
  if i % 5 == 0:
    print(i)

10
20
55

In [ ]:
list1 = ['M', 'na', 'i', 'Ke']
list2 = ['y', 'me', 's', 'lly']

x = zip(list1, list2)
too = list1[0] + list2[0]
print(too)

#use the tuple() function to display a readable version of the result
#print(tuple(x))

new_list = [i + j for i, j in zip(list1, list2)]
print(new_list)

My
['My', 'name', 'is', 'Kelly']

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

for i in numbers:
  square = i * i
  print(square)

1
4
9
16
25
36
49

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

#result list
res =[]
for i in numbers:
  res.append(i * i)
print(res)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [x * x for x in numbers]
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
list1 = ['Hello', 'take']
list2 = ['Dear', 'Sir']

list3 = [i+j for i,j in zip(list1, list2)]
print(list3)

['HelloDear', 'takeSir']

In [ ]:
list1 = ['Hello', 'take']
list2 = ['Dear', 'Sir']

list3 = [list1[0] + list2[0], list1[0] + list2[1], list1[1] + list2[0], list1[1] + list2[1]]
#print(list3)

#use list comprehension
res = [x + y for x in list1 for y in list2]
print(res)

['HelloDear', 'HelloSir', 'takeDear', 'takeSir']

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()

x = zip(list1, list2)
print(tuple(x))

((10, 400), (20, 300), (30, 200), (40, 100))

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
  print(x, y)

10 400
20 300
30 200
40 100

In [ ]:
list1 = ['Mike', '', 'Emma', 'Kelly', '', 'Brad']

res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

for i in list1[2][2]:
  print(i)
  if i == 6000:
    list1[2][2].append(7000)
  else:
    print('No')
print(list1)

5000
No
6000
7000
No
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list2 = [list1[2][2].append(7000) for i in list1[2][2] if i == 6000]
print(list2)

[None]

In [ ]:
list1 = ['a', 'b', ['c', ['d', 'e',['f', 'g'], 'k'], 'l'], 'm', 'n']

#sub list to add
sub_list = ['h', 'i', 'j']

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

for i in list1:
  if i == 20:
    x = (list1.index(i))
    list1[x] = 200
    print(list1)
  else:
    print("no")

no
no
no
[5, 10, 15, 200, 25, 50, 20]
no
no
[5, 10, 15, 200, 25, 50, 200]

In [ ]:
list1 = [5, 10, 20, 25, 50, 20]
index = list1.index(20)

list1[index] = 200
print(list1)

[5, 10, 200, 25, 50, 20]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

for i in list1:
  if i == 20:
    list1.remove(i)
print(list1)

[5, 15, 25, 50]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

def remove_value(sample_list, val):
  return[i for i in sample_list if i !=val]

res = remove_value(list1, 20)
print(res)

[20, 20, 20]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
  list1.remove(20)
print(list1)

[5, 15, 25, 50]

WHILE LOOP

In [ ]:
count = 1
# condition: Run loop till count is less than 3
while count<3:
  print(count)
  count = count + 1

1
2

In [ ]:
count = 0
number = 180
while number > 10:
  number = number/3
  count = count + 1

print('Total interation required', count)

Total interation required 3

In [ ]:
n = int(input('Please enter number'))
while n > 0:
  if n % 2 == 0:
    print(n, 'is an even number')
  else:
    print(n, 'is an odd number')
  
  n = n-1

Please enter number5
5 is an odd number
4 is an even number
3 is an odd number
2 is an even number
1 is an odd number

In [ ]:
str_x = 'Emma is good developer. Emma is a writer'

x = str_x.count('Emma')
print(x)

2

In [ ]:
def count_emma(statement):
  print('Given String: ', statement)
  count = 0
  for i in range(len(statement)-1):
    count += statement[i:i + 4] == 'Emma'
  return count
count = count_emma('Emma is good developer. Emma is a writer')
print("Emma appeared ", count, 'times')

Given String:  Emma is good developer. Emma is a writer
Emma appeared  2 times

In [ ]:
for num in range(6):
  for i in range(num):
    print(num, end=' ')
  print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
#palindrome number 
def check_palindrome(num):
  print('original number', num)
  original_num = num

  #reverse the given number
  reverse_num = 0
  while num > 0:
    reminder = num % 10
    reverse_num = (reverse_num * 10) + reminder
    num = num // 10

  #check numbers
  if original_num == reverse_num:
    print('Given number palindrome')
  else:
    print('Given number is not palindrome')

check_palindrome(121)
check_palindrome(125)

original number 121
Given number palindrome
original number 125
Given number is not palindrome

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

list3 = [a+b for a in list1 if a%2!=0 for b in list2 if b%2==0]
print(list3)

[65, 85, 115, 75, 95, 125]

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

result_list=[]
for a in list1:
  if a%2!=0:
    result_list.append(a)
for b in list2:
  if b%2==0:
    result_list.append(b)
print(result_list)

[25, 35, 40, 60, 90]

In [ ]:
num = 123
while num > 0:
  reminder = num % 10
  num = num // 10
  print(reminder, end=' ')

3 2 1

In [ ]:
number = 7536
while number > 0:
  #get the last digit
  digit = number % 10
  #remove the last digit and repeat the loop
  number = number // 10
  print(number, end=' ')

753 75 7 0

In [ ]:
def tax_income(income):
  income_rate = 0

  if income <= 10000:
    income_rate = 0

  if income <= 20000:
    x = income - 10000
    income_rate = x * 10 / 100

  else:
    income_rate = 0
    income_rate = 10000 * 10 / 100
    income_rate += (income - 20000) * 20 / 100
  print('Total tax to pay is', income_rate) 

tax_income(45000)

Total tax to pay is 6000.0

In [ ]:
#outer loop

for i in range(1, 11):
  #nested loop
  #to iterate from 1 to 10
  for j in range(1, 11):
    #print multiplication
    print(i * j, end=' ')
  print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [ ]:
for i in range(6):
  for j in range(i):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
names = ['Kelly', 'Jessa', 'Emma']
#outer loop
for name in names:
  #inner while loop
  count = 0
  while count < 5:
    print(name, end=' ')
    count = count +1
  print()

Kelly Kelly Kelly Kelly Kelly
Jessa Jessa Jessa Jessa Jessa
Emma Emma Emma Emma Emma

In [ ]:
for i in range(6):
  count = 0
  while count < 3:
    print('*', end=' ')
    count = count + 1
  print()

* * *
* * *
* * *
* * *
* * *
* * *

In [ ]:
for i in range(4):
  for j in range(4):
    if j == i:
      break
    print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In [ ]:
first = [2, 4, 6]
second = [2, 4, 6]

for i in first:
  for j in second:
    if i == j:
      continue
    print(i, '*', j, '= ', i * j)

In [ ]:
first = [2, 3, 4]
second = [20, 30, 40]
final = []

for i in first:
  for j in second:
    final.append(i+j)
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [ ]:
first = [2, 3, 4]
second = [20, 30, 40]
final = [i+j for i in first for j in second]
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [ ]:
name = 'Jesaa29Roy'
size = len(name)
i = -1
#iterate loop till the last character
while i < size-1:
  i = i + 1
  #break loop if current character is number
  if name[i].isalpha():
    continue
  #print current character
  print(name[i], end=' ')

2 9

In [ ]:
name = 'Jesaa29Roy'
size = len(name)
i = -1
while i < size-1:
  i = i + 1
  if not name[i].isalpha():
    continue
  print(name[i], end=' ')

J e s a a R o y

In [ ]:
n = 4
while n > 0:
  n = n - 1
  pass

In [ ]:
i = 0
while i < 5:
  b = 0
  while b < i:
    print('*',end='')
    b = b + 1
  i = i + 1
  print()

*
**
***
****

In [ ]:
i = 0
while i < 5:
  for j in range(i):
    print('*', end=' ')
  print('')
  i = i + 1

*
* *
* * *
* * * *

In [ ]:
i = 1
while i <= 5:
  print(i)
  i = i + 1
else:
  print('done')

1
2
3
4
5
done

In [ ]:
i = 1
while i <= 5:
  print(i)
  if i == 3:
    break
  i = i + 1
else:
  print('Done')

1
2
3

In [ ]:
i = 10
while i >= 0:
  print(i, end=' ')
  i = i - 1

10 9 8 7 6 5 4 3 2 1 0

In [ ]:
name = 'Jessa'
i = 0
res = len(name) - 1
while i <= res:
  print(name[i])
  i = i + 1

J
e
s
s
a

In [ ]:
final = [[x, y] for x in [10, 20, 30] for y in [30, 10, 50] if x != y]
print(final)

[[10, 30], [10, 50], [20, 30], [20, 10], [20, 50], [30, 10], [30, 50]]

In [ ]:
i = 1
while i <= 5:
  j = 1
  while j <= 10:
    print(j, end=' ')
    j = j + 1
  i = i + 1
  print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [ ]:
print('Show Perfect number from 1 to 100')
n = 2
#outer while loop
while n <= 100:
  #print(n)
  x_sum = 0
  #inner for loop
  for i in range(1, n):
    if n % i == 0:
      x_sum += i
  if x_sum ==n:
    print('Perfect number:', n)
  n += 1

Show Perfect number from 1 to 100
Perfect number: 6
Perfect number: 28

In [ ]:
numbers = [[1, 2, 3], [4, 5, 6]]

cnt = 0
for i in numbers:
  for j in i:
    print('iteration', cnt, end=': ')
    print(j)
    cnt = cnt + 1

iteration 0: 1
iteration 1: 2
iteration 2: 3
iteration 3: 4
iteration 4: 5
iteration 5: 6

In [ ]:
for i in range(1, 11):
  for b in range(1, 11):
    print(i * b, end=' ')
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(i, end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
row = 6
c = 0
for i in range(row, 0, -1):
  c += 1
  for j in range(1, i):
    print(i, end=' ')
  print()

6 6 6 6 6
5 5 5 5
4 4 4
3 3
2

In [ ]:
rows = 6
b = 0
for i in range(rows, 0, -1):
  b += 1
  for j in range(1, i):
    print(b, end=' ')
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
age = int(input('Your age: '))
if(age < 3):
  print('Free')
if ((age > 3) and (age < 12)) < 12:
  print('10dollar')
else:
  print('15dollar')

Your age: 8
10dollar

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print('5', end=' ')
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
for i in range(5, 0, -1):
  num = [0, 1, 2, 3, 4, 5]
  c = 0
  for j in range(i+1):
    print(num[j], end=' ')

  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
rows = 5
for i in range(rows, 0, -1):
  for j in range(0, i + 1):
    print(j, end=' ')
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
rows = 10
for i in range(1, rows):
  for j in range(i):
    if not i % 2 == 0:
      print(i, end=' ')
  print()

1

3 3 3

5 5 5 5 5

7 7 7 7 7 7 7

9 9 9 9 9 9 9 9 9

In [ ]:
rows = 5
i = 1
while i <= rows:
  j = 1
  while j <= i:
    print((i * 2 -1), end=' ') 
    j = j + 1
  i = i + 1
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
rows = 5
for i in range(rows, 0, -1):
  for j in range(i):
    print(i, end=' ')
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
for i in range(1, 6):
  for j in range(i, 0, -1):
    print(j, end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
for i in range(5, 0, -1):
  for j in range(i, 0, -1):
    print(j, end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
rows = 5
for i in range(0, rows + 1):
  for j in range(rows - i, 0, -1):
    print(j, end=' ')
  print()

In [ ]:
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
  for col in range(start, stop):
    current_num -=1
    print(current_num, end=' ')
  print()
  start = stop
  stop += row
  current_num = stop

1
3 2
6 5 4
10 9 8 7

In [ ]:
rows = 6
for i in range(1, rows):
  num = 1
  for j in range(rows, 0, -1):
    if j > i:
      print(' ', end=' ')
    else:
      print(num, end=' ')
      num += 1
  print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
for i in range(6):
  a = 1
  b = 11
  c = 1
  for j in range(i):
    c = a * b
    a = c
    if c == 161051:
      c = 15101051
  print('\r')
  print(c, end=' ')

1
11
121
1331
14641
15101051

In [ ]:
def print_pascal_triangle(size):
  for i in range(0, size):
    for j in range(0, i + 1):
      decide_number(i,j)
    print()

def decide_number(n, k):
  num = 1
  if k > n - k:
    k = n - k
  for i in range(0, k):
    num = num * (n - i)
    print(num)
    num = num // (i + 1)
  return num

#set rows
rows = 7
print_pascal_triangle(rows)

0

0
0

0
0
1
0

0
0
1
0
1
0

0
0
1
0
1
2
0
1
0

In [ ]:
for i in range(1, 6):
  for j in range(1, 6):
    if j <= i:
       print(i, end=' ')
    else:
       print(j, end=' ')
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
for i in range(1, 9):
  for j in range(1, i+1):
    print(j*i, end=' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
for i in range(6):
  for j in range(i):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 6
for i in range(1, 6):
  n -= 1
  for j in range(1, 6):
    if j < n:
      print(' ', end=' ')
    else:
      print('*', end=' ')
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
  #process each column
  for j in range(0, k):
    #print space in pyramid
    print(end=' ')
  k = k - 2
  for j in range(0, i + 1):
    #display star
    print('*', end=' ')
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print('*', end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
  for j in range(k, 0, -1):
    print(end=' ')
  k = k + 1
  for j in range(0, i + 1):
    print('*', end=' ')
  print('')

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [ ]:
n = 0
for i in range(0, 5):
  for j in range(0, 5):
    if i > j:
      print(' ', end=' ')
    else:
      print('*', end=' ')
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
row = 8
num = 2 * row - 2
for i in range(1, row):
  for j in range(num, 1, -1):
    print(end=' ')
  num = num - 1 
  for j in range(i):
    print('*', end=' ')
  print('')

             *
            * *
           * * *
          * * * *
         * * * * *
        * * * * * *
       * * * * * * *

In [ ]:
row = 7
row1 = 6
for i in range(1, row):
  for j in range(i):
    print('*', end=' ')
  print()
print(' ')
for l in range(row1, 0, -1):
  for m in range(l):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
row1 = 6
row2 = 6

#first triangle
for i in range(row1):
  for j in range(i):
    print('*', end=' ')
  print()

for l in range(row2, 0, -1):
  for m in range(l):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
row = 5
for i in range(0, 5):
  row -= 1
  for j in range(0, 5):
    if row > j:
      print(end=' ')
    else:
      print('*', end=' ')
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n = 7
for i in range(1, 7):
  n -= 1
  for j in range(1, 7):
    if j < n:
      print(' ', end=' ')
    else:
      print('*', end=' ')
  print()

for i in range(1, 6):
  for j in range(0, 6):
    if i > j:
      print(' ', end=' ')
    else:
      print('*', end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
rows = 5
i = 1
while i <= rows:
  j = i
  while j < rows:
    #display space
    print('2', end=' ')
    j += 1
  k = 1
  while k <= i:
    print('*', end=' ')
    k += 1
  print()
  i += 1

i = rows
while i >= 1:
  j = i
  while j <= rows:
    print(' ', end=' ')
    j += 1
  k = 1
  while k < i:
    print('*', end=' ')
    k += 1
  print('')
  i -= 1

2 2 2 2 *
2 2 2 * *
2 2 * * *
2 * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
row = 5

while i < row:
  print('*', end=' ')
  i += 1

* * * * *

In [ ]:
i = 5
rows = 5
while i >= 1:
  j = i
  while j <= rows:
    print(end=' ')
    j += 1
  k = 1
  while k < i:
    print('*', end=' ')
    k += 1
  print('')
  i -= 1
rows = 5
i = 1
while i <= rows:
  j = i
  while j < rows:
    #display space
    print(end=' ')
    j += 1
  k = 1
  while k <= i:
    print('*', end=' ')
    k += 1
  print()
  i += 1

 * * * *
  * * *
   * *
    *

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
rows = 5
i = 0
while i <= rows - 1:
  j = 0
  while j < i:
    #display space
    print('', end=' ')
    j += 1
  k = i
  while k <= rows - 1:
    print('*', end= ' ')
    k += 1
  print()
  i += 1

i = rows - 1
while i >= 0:
  j = 0
  while j < i:
    print('', end=' ')
    j += 1
  k = i
  while k <= rows - 1:
    print('*', end=' ')
    k += 1
  print('')
  i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
i = 1
row = 5
while i <= row:
  l = row
  while l > i:
    print(end=' ')
    l -= 1
  k = 1
  while k <= i:
    print('*', end=' ')
    k += 1
  print()
  i += 1

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
rows = 8
i = 1 
while i < rows:
  k = i
  while k < rows:
    print('*', end=' ')
    k += 1
  
  
  print()
  i += 1

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
numbers = [1, 4, 30, 8, 15, 20, 26]
for i in numbers:
  if i > 15:
    break
  else:
    print(i)

1
4

In [ ]:
name = 'mariya mennen'
count = 0
for char in name:
  if char != 'm':
    continue
  else:
    count = count + 1

print('Total number of m is:', count)

Total number of m is: 2

How to build a simple calculator in python step by step

In [ ]:
print('Select an operation to perform:')
print('1. ADD')
print('2. SUBTRACT')
print('3. MULTIPLY')
print('4. DIVIDE')

operation = input()

if operation == '1':
  #code for add
  num1 = int(input('Enter first number: '))
  num2 = int(input('Enter second number: '))
  print("The sum of given numbers is ", num1 + num2)
elif operation == '2':
  #code for subtract
  num1 = int(input('Enter first number: '))
  num2 = int(input('Enter second number: '))
  print('Output: ', num1 - num2)
elif operation == '3':
  #code for multiply
  num1 = int(input('Enter first number: '))
  num2 = int(input('Enter second number: '))
  print('Output: ', num1 * num2)
elif operation == '4':
  #code for divide
  num1 = int(input('First number: '))
  num2 = int(input('Second numer: '))
  print('Output: ', num1 / num2)
else:
  print('Invalid Entry')

Select an operation to perform:
1. ADD
2. SUBTRACT
3. MULTIPLY
4. DIVIDE
1
Enter first number: 2
Enter second number: 4
The sum of given numbers is  6